name: Deploy static portfolio to Azure Web App (Windows)

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_F7C9F811217F4B07A03916E25779B5A2 }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_2FFD7510C3A94CEDA0420B907083C70F }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_C55BAAEDBB8A40D2A99A03E98B6AB221 }}

      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v3
        with:
          app-name: 'portfolio-azure-fabricio-win'
          slot-name: 'Production'
          package: .
